<!-- Header -->
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container position-relative d-flex align-items-center justify-content-between">
        <a routerLink="home" class="logo d-flex align-items-center me-auto me-xl-0">
            <img src="./assets/img/logo.png" alt="logo">
            <h1 class="sitename">GameStore</h1>
        </a>
        <nav id="navmenu" class="navmenu">
            <ul>
                <li><a href="#" class="active">Inicio</a></li>
                <li><a href="#">Produtos</a></li>
            </ul>
            <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
        </nav>
        <a routerLink="login" class="btn-getstarted"><i class="bi bi-box-arrow-in-right"></i>Login</a>
    </div>
</header>