/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
.footer {
    --heading-font: var(--default-font);
    color: var(--footer-text-color);
    background-color: var(--footer-color);
    font-size: 0.9rem;
    padding: 10px 0;
    position: relative;
}

.footer .copyright {
    padding-top: 40px;
    border-top: 1px solid color-mix(in srgb, var(--accent-color), transparent 80%);
    padding-bottom: 20px;
}

.developer {
    color: color-mix(in srgb, var(--accent-color), transparent 30%);
    font-weight: 500;
}